<%= form_for @article do |f| %>

        <!--error messages-->
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <!-- text input -->
  <div class="backgroundImg"> 
    <img src='/images/onThePeer.jpg' height='100%' width='100%'>
  </div>
  
  <div class='user-input'>
    <p class='title-field'>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
  
    <p class='text-field'>
        <%= f.label "Article Entry" %>
        <%= f.text_area :text, :size => '60x10'%>
    </p>
  </div>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>