
        <%= render 'form' %>

     <a href='/welcome/index.html'>Home</a>

 
<h1 class="article-header">Listing articles</h1>
 
    <table class="articles">
      <div class="article-container">
        <tr>
          <th class="article-label">Title</th>
          <th class="article-label">Text</th>
          <th class="article-label"><a href="articles/new.html">New</a></th>
        </tr>
      </div>
     
      <% @articles.each do |article| %>
        <tr>
          <td class='article-titles'>
            <%= article.title %>
          </td>

          <td class='article-text'>
            <%= article.text %>
          </td>

          <td class='link-to-article'>
            <%= link_to 'Show', article_path(article) %>
          <td>

          <td>
            <%= link_to 'Edit', edit_article_path(article) %>
          </td>

          <td>
            <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </td>
          <td>
            <a href="articles/new">New</a>
          </td>
        </tr>
      <% end %>
    </table>