    <!--The div for changing background oppacity for balance -->
  <div class="backOpacity"></div>

    
       <%= render 'form' %>


  <% @articles.each do |article| %>
    <table class="articles">
        <tr>
          <th class="article-label" id="title-label">Title</th>
            <td class='article-titles'>
              <%= article.title %>
            </td>
        </tr>

        <tr>
          <th class="article-label" id='text-label'>Text</th>
            <td class='article-text'>
              <%= article.text %>
            </td>
        </tr>
    </table>

    <table class='table-links'>
        <tr>
          <th>
            <td><%= link_to "Home", root_path %>
            </td>
            
            <td>
              <%= link_to 'Show', article_path(article) %>
            <td>
  
            <td>
              <%= link_to 'Edit', edit_article_path(article) %>
            </td>
  
            <td>
              <%= link_to 'Delete', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
            </td>
          </th>
        </tr>
    </table>
  <%end%>