<!DOCTYPE html>
<html>
  <head>
    <title>Starting over</title>
    <link href="main.css" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin Slab" />
    <meta charset="utf-8">
  </head>
    
   
  <div class="backgroundImg">
      <img src="/onThePeer.jpg" height="100%" width="100%" />
  </div>
    
 
  <body>
   
    <div class="backOpacity"></div>
    
     
    <!--top of page including sylvia and links-->
    <header>
    
      <nav>
        <div class="top">
          <img src="/images/SylviaPaint.jpg" height="125" >
        </div>
        <ul>
          <li>Home</li>
          <li><%= link_to 'Quiz', controller:'quiz'%></li>
          <li><%=link_to 'Photos', controller: 'pictures'%></li>
          <li><a href="/articles/new">Blog</a></li>
     
        </ul>
  
      </nav>
    </header>
    
    
    
    <p class="blog" >
            
This website is going to be about a girl named Sylvia Fletcher.<br>
She is the most amazing girl in the whole world. Although she is small, as seen in the picture below,<br> she has a big personality and a big heart!
I love her very much and as you can see she is very pretty :) <br>She loves me for who I am and I love her for who she is, which is perfect!</p>
        

        <br>
    


    <div>
        <button id="btn1" class="btn1"> hide photos</button>
        <button id="btn2" class="btn2 btnHide">show photos</button>   
    </div>

    <br>

    <div class="pic"> 
        <img id="sylvia" src="/images/sylvia.png" length="100" height="300">
        <img id="littleSylvia" src="/images/littleSylvia.jpg" length="100" height="300"> 
        <img id="sylviaAtTheGame" src="/images/sylviaAtTheGame.jpg" length="100" height="300">
    </div>
 
 
    <p class="blog">
         Sylvia Fletcher is a beautiful and remarkable woman. Although, I am a huge loser, and do not deserve her one bit, Sylvia still         loves me.<br> 
         She is understanding and very good at making me happy when I am feeling sad. She loves Jesus, and that makes her love everyone!        <br> 
         She is an excellent cheerleader, but enjoys watching "reality television" the most. A close second, if not first, she loves to         shop!<br>
         I wish that I could take her shopping everyday, but I have very little money. The money I do have, I am saving to buy her and        engagement ring!<br>
         Which brings me to the reason I am learning to code websites. I am trying to learn as much about computers as I can because I        plan to become a<br> 
         computer science major.
    </p>

    <p class="blog">
          Basically, I wanted a subject to create a website on, and I coudn't think of anything better than Sylvia Fletcher! There is         so much I could <br>
          write about her! I could write about her hair, or maybe about her character, or maybe about her leadershipp ability that is         unmatched. I will <br>
          continue to write about Sylvia while contiuing to work on the look and feel of this website. Hopefully, by the time it is         done someone will <br>
          able to get on here and learn all about Sylvia Fletcher in a fun and simplistic way!
    </p>
    
    <h1 class="article-header">Listing articles</h1>
 
    <table class="articles">
      <div class="article-container">
        <tr>
          <th class="article-label">Title</th>
          <th class="article-label">Text</th>
          <th class="article-label"><a href="articles/new.html">New</a></th>
        </tr>
      </div>
     
      <% @articles.each do |article| %>
        <tr>
          <td class='article-titles'>
            <%= article.title %>
          </td>

          <td class='article-text'>
            <%= article.text %>
          </td>

          <td class='link-to-article'>
            <%= link_to 'Show', article_path(article) %>
          <td>

          <td>
            <%= link_to 'Edit', edit_article_path(article) %>
          </td>

          <td>
            <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </td>
          <td>
            <a href="articles/new">New</a>
          </td>
        </tr>
      <% end %>
    </table>    
    
    
 <br><br><br>
<footer class="bottom">
  <ul>
   <li>Created by: Luke Settle</li>
   <li>Last edited: 11/20/2014</li>
  </ul>
</footer>
    
    
 <script src = "//code.jquery.com/jquery-1.11.0.min.js">
     </script>

<script>
    $(function(){
        
        // click hide button and hide photos and btn1 //
        $("#btn1") .on("click", function() {
            $(".pic") .fadeOut(800, function(){
                $("#btn1").addClass("btnHide")});
        });
        
        // click btn1 and show btn2 //
        $("#btn1").on("click", function(){
            $("#btn2").removeClass("btnHide")});
        
        // on click, show pics. Hide btn2 //
        $("#btn2").on("click",function(){
            $(".pic").fadeIn(800,function(){
                $("#btn2").addClass("btnHide")
            });
        });
        
        //on click of btn2, show btn 1//
        $("#btn2").on('click',function(){
            $("#btn1").removeClass("btnHide")});
        
        
        
        
        
        

        $("#sylvia") .on("click", function() {
            $("#sylvia") .toggleClass("enlarge")});
        
        
             $("#sylviaAtTheGame") .on("click", function() {
            $("#sylviaAtTheGame") .toggleClass("enlarge")});
        
        
         $("#littleSylvia") .on("click", function() {
            $("#littleSylvia") .toggleClass ("enlarge")});
          
    });
    
    
    
    $(function(){
        
        
        
    });
    
    
            
</script>
    
</body>
</html>


